.Navbar {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #ccc;
}

.Navbar a {
  margin: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.Navbar .active {
  background-color: rgb(155, 155, 221);
  padding: 5px;
  border-radius: 10px;
}
